body {
	font-family: sans-serif;
	background-color: #DBC9DB;
}
h1 {
	background-color: #3A0943;  
	color: #F1D2F7;
	
}

h2 {
	color: #53105F ;
	
}


th, td {
	border: 1px solid black;
	text-align: center;
	color: black ;
	background-color: #F6D0F7;
}

td {
	width: 250px;
}

th {
	background-color:#D8A6D9;
}

a {
	color: #392839;	
}

a:hover {
	color: #ffffff
}

img {
	width: 50px;
	
}