/*body {

	font-family: sans-serif;

	background-color: #DBC9DB; 

}

h1 {

	background-color: #3A0943; 

	color: #F1D2F7;

	

}



h2 {

	color: #53105F ;

	

}

a {

	color: #392839;	

}



a:hover {

	color: #ffffff

}

*/



td {

	border: 1px solid black;

	text-align: center;

	color: black ;

	background-color: #FFFFFF;

	width: 250px;

}



th {

	border: 1px solid black;

	color: black ;

	background-color: #AAAAAA;

}

.thtext {

	text-align: center;

}



table {

    width: 100%;

    margin-left: auto;

    margin-right: auto;

}



img {

	width: 50px;

	

}
